__pycache__/
*.pyc
.DS_Store
.venv/
env/
*.csv
.idea/
*.xlsx
.vscode/
.env
scan_log.txt
test_tty.txt
scanner_run.log
scan_results.json
web_dashboard/*.log
web_dashboard/backend_status.log
web_dashboard/frontend_status.log
web_dashboard/scanner_run.log
